{% extends "base.html" %}

{% block content %}
  <div class="container">
        <br />
        <div class="row">
            <div class="col-md-3">
                <form id="search" action="add.php" method="POST" enctype="multipart/form-data" class="no-print">
                    <aside class="booking-filters booking-filters-white">
                        <h5 style="padding-left:10px ">Хөрвүүлэх</h5>
                        <ul class="list booking-filters-list">
                            <li>
                                <!--
                                <div >
                                    <label> Овог нэр : 
                                        <input class="form-control" type="text" name="name" required />
                                    </label>
                                </div>
                                <div >
                                    <label> Регистер : 
                                        <input class="form-control" type="text" name="register" required/>
                                    </label>
                                </div>
                                -->
                                <div >
                                    <label> Файл
                                        <input class="form-control" type="file" name="import" id="import" required/>
                                    </label>
                                </div>
                                <div >
                                    <label>
                                        <input id="make" type="submit" class="btn btn-primary" value="Хөрвүүлэх"  style="width:100%"/>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </aside>
                </form>
            </div>
            <div class="col-md-9">
                <div id="info" class="booking-filters booking-filters-white" style="width: 100%;">
                    <div style="width: 100%; border-bottom: 1px solid #ccc">
                    <h4 style="padding-left:10px "> {{person.name}}  / Хүйс: {% if person.sex == 'Male' %}Эр{%else%}Эм {% endif %}
                    / Нас: {{person.age}} / Огноо: {{person.date}}</h4>
                    </div>
                    
                    <div class="list booking-filters-list">
                        {% set num=0 %}
                        {%for key1,event in topics%}
                            <h5 style="padding-left:10px; margin-top: 10px ">{{event.topic}}</h5>
                            <table width="auto" class="table table-striped table-bordered table-hover" style="margin-left: 10px;">
                                <thead>
                                    <tr>
                                        <th>Шалгах үзүүлэлт</th>
                                        <th>Хэвийн хэмжээ</th>
                                        <th>Үр дүн</th>
                                        <th>Тестийн хариу</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for key,item in event.items%}
                                        <tr class="odd gradeX">
                                            <td>{{item}}</td>
                                            <td>{{measures[num].set1}}</td>
                                            <td>{{measures[num].set2}}</td>
                                            <td class="center">
                                                {% if  'Normal' in measures[num].set3 ==1 %}
                                                    Энгийн
                                                {%elseif  'Moderately' in measures[num].set3 ==1 %}
                                                    Бага гажилттай
                                                {% elseif  'Mildly' in measures[num].set3 ==1 %}
                                                    Дунд гажилттай

                                                {% elseif  'Severely' in measures[num].set3 ==1  %}
                                                    Их гажилттай
                                                {%else%}
                                                   {{measures[num].set3}} 
                                                {%endif%}
                                                
                                            </td>
                                        </tr>
                                        {% set num=num+1 %}
                                    {%endfor%}
                                </tbody>
                            </table>
                        {%endfor%}
                    </div> 
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>
{% endblock %}
{% block scripting %}
{{parent()}}
    <script type="text/javascript">
     
        $(document).ready(function() {
            

           
        });

        $('#logout').click(function(){
            alert("Та дахин ирээрэй");
             $.post("logout.php", {
                }, function (result) {
                window.location.href = "index.php";
            });
        });
    </script>
{% endblock %}


